<ul>
  <li [@dudeAnim] class="dude" *ngFor="let dude of characters">
        <a class="ctrl" (click)="remove(dude)">x</a>
      <article
        [ngClass]="{ faded: dude.cool < 10, gold: dude.cool > 50}"
      >
          {{dude.who}}
          <small *ngIf="isShort(dude.who)">
            - lol short name
          </small>
          <small *ngIf="isLong(dude.who)">
            - ohoho BIG name
          </small>
            <span>
            {{dude.wat}}
          </span>
      </article>

      <input class="ctrl" 
      type="number" 
      [value]="dude.cool" 
      [(ngModel)]="dude.cool"
      
      />

   
  </li>
</ul>


<form class="add-new" (keydown.enter)="addDude($event)">
  <input 
    type="text" 
    [value]="newWho"
    (input)="newWho = $any($event.target).value" 
    #inputWho
  />
  <input 
    type="text" 
    [value]="newWat"
    (input)="newWat = $any($event.target).value" 
  />
</form>

<p class="preview">
  {{newWho}}
  <br>
  {{newWat}}
</p>